/* tadpol Screen Styles 
 * Copyright 2007-2014 Michael Conrad Tadpol Tilstra
*/
body {
	color: black;
	background-color: #556b2f; /* darkolivegreen */
	background: url(/images/bg.png) ;
}
div#header {
	position: relative;
	height: 150px;
	/*border: thin solid;*/
}
div#header h1 {
	position: absolute;
	bottom: 0px;
	margin-bottom: 0px;
    color: black;
/*    background: #556b2f;*/
}
div#header img {
	position: absolute;
	right: 0px;
}
div#content {
	margin-top: 1em;
	border: thin solid;
	padding: 4px;

	color: black;
	background-color: #EEEEE0;
}
div#footer {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 7px;
	margin-bottom: 7px;
	font-size: 50%;
	color: black;
/*    background: #556b2f;*/
}
div#footer div#wit {
	float: right;
	text-align: right;
}
div#footer a { text-decoration: none; color: black; }

a:link {
	text-decoration: underline;
	border: none;
	color: rgb(128,0,64);
}
a:visited { color: rgb(64,0,128); }
a:hover { color: rgb(0,0,255); }

form, div { padding: 0; margin: 0; }
p { margin: 0 0 1em 0; padding: 0; }
img { border: 0; }

/*****************************************************************************/
.post pre {
  border: 1px solid #ddd;
  background-color: #F9F9F2;
  padding: 0 .4em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #F9F9F2;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

#content h2 {
	margin-bottom: 0px;
}
#content .meta {
	margin-bottom: 2em;
	font-size: 60%;
	color: grey;
}
#content .excerpt {
	margin-left: 2em;
	margin-bottom: 1em;
}
#content .excerpt p {
	display: inline;
}
/*****************************************************************************/
div#Fuse-Box-Dwarf {
	font-size: 60%;
	text-align: right;
	color: #b2b26b;
}

/*****************************************************************************/
.listedcategories {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.listedcategories li {
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0.5em;
	border: thin solid;
}

/*****************************************************************************/
/* ingredient lists for recipies. */
table.recipe {
	border-collapse: collapse;
	border: hidden;
	margin: 1em;
}
table.recipe tr:first-child {
    border-bottom: double medium; 
    border-right: none;
    border-top: none; 
    border-left: none;
	font-weight:bold;
}
table.recipe td { padding-right: 1em; }
table.recipe tr td:first-child {text-align: right;}

/*****************************************************************************/
#LinkFarm div.occontrol {
	font-size: 70%;
}
#LinkFarm a {
	text-decoration: underline;
}
#LinkFarm ul {
    list-style-type: none;
    padding: 0.25em;
}
#LinkFarm li {
	padding-left: 1em;
}

/*****************************************************************************/
/* Make all tables of books look same and sane. */
table.booktable {
    margin: 2px;
    border: solid medium black;
    border-collapse: collapse;
}

table.booktable th {
    border-bottom: solid thin black;
    text-align: left;
}

table.booktable th a {
	color:#000;
	font-weight:bold;
	text-indent:20px;
	text-decoration:none;
}
table.booktable th a:hover { text-decoration: underline; }

table.booktable td {
    padding: 0.5em;
}

table.booktable td img {
    float: right;
}

