---
layout: default
title: "Tadpol&rsquo;s state of Reality"
date: Sat Mar 18 14:45:46 CST 2006
thickbox: true
---

<h3>A Quick intro…</h3>
<div><p> Hi hi.  I was given the name Michael, but tend to use Tadpol instead.
(<small>God only knows why.</small>)
Sometimes I wonder if I should say anything important here.  Other times I think
it would be best if I said nothing at all.  However, if I am to say nothing at all
there would not be much point in having a web site.  I like having a web site, so I feel 
that I must strive to have something to say.  Thus I find that I am often saying nothing,
but with a great deal many more words than nothing really deserves.
</p></div>
<!-- because i think its funny for this to randomly place itself on the page. -->
<div id="Fuse-Box-Dwarf">Dreeb! Dreeb! I am a Home Page Virus! Copy me into your home page!</div>
<script language="javascript" type="text/javascript" >
$(function(){
    var l = $("#content div");
    var r = Math.floor(Math.random()*l.length);
    $("div#Fuse-Box-Dwarf").insertBefore(l[r]);
});
</script>

<h3>Some Things Said…</h3>
{% for post in site.posts limit:6 %}
<div class="post excerpt">
	<a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
	{{ post.excerpt | markdownify }}
</div>
{% endfor %}

<h3>Links of yore…</h3>
<p>Things are lightly categorized here.  Go ahead and poke around.</p>
<ul class=listedcategories>
	{% for cat in site.categories %}
	<li><a href="/{{ cat | first }}/index.html">{{ cat | first | capitalize }}</a>
	{% endfor %}

	<li><a href="recipes/index.html">Recipes</a></li>

	<li><a href="stories/index.html">Stories</a></li>
	<li><a href="vacation/index.html">Vacations</a></li>
</ul>


<!-- I miss these, I just don't know where to stick them.
<li>For the first time in your memory, you're generating your own light.</li>
<li>If I touch you, will you burn?</li>
<li><code>sleep `date '+23 %H-3600*60 %M-60*+p' | dc`</code></li>
<li>I live on Farm 28.</li>
-->

